app-login {
    ion-item::part(native) {
        padding-left: unset;
        background: transparent !important;
    }
    .item-native,
    .list-ios,
    .list-md {
        background: transparent !important;
    }
    .login-box {
        padding: 1em;
        background: linear-gradient(to bottom, #0078ff, #0f23d3);
        background: -webkit-liner-gradient(bottom, #0078ff, #0f23d3);
        background: -o-linear-gradient(bottom, #0078ff, #0f23d3);
        background: -moz-linear-gradient(bottom, #0078ff, #0f23d3);
        height: 50vh;
        .sign-in-label {
            font-size: 1.2em;
            letter-spacing: 1.44px;
            color: white;
            text-align: center;
            padding-top: 3vh;
        }
        form {
            .login-btn {
                border-radius: 12pt;
                align-items: center;
                text-align: center;
                width: 94%;
                left: 3%;
                z-index: 999;
                position: absolute !important;
                background: rgb(255, 255, 255);
                height: 8vh;
                top: 47vh;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
                opacity: 1 !important;
                .submit-btn {
                    letter-spacing: 1.44px;
                    color: #0f23d3;
                    font-size: 1.2em;
                    opacity: 1;
                    text-transform: uppercase;
                }
            }
            ion-row {
                .forgot-pwd {
                    color: rgb(230, 230, 230);
                    background-color: transparent;
                    text-transform: none;
                    font-size: 1.2em;
                    padding-bottom: 1.5em;
                }
                ion-list {
                    ion-item {
                        padding-top: 1.5em;
                        background-color: rgba(255, 255, 255, 0);
                        border: none !important;
                        .item-inner {
                            border: none;
                            border-bottom: 1px solid white !important;
                        }
                        ion-input {
                            color: white;
                            border: none !important;
                        }
                    }
                }
            }
        }
    }
    .oauth-box {
        padding: 1em;
        background: #ececec;
        // height: 50vh;
        // position: fixed;
        width: 100%;
        .oauth-sign-in {
            margin-top: 10%;
            color: black;
            opacity: 0.38;
            padding: 1em;
            z-index: 9999;
            text-align: center;
            letter-spacing: 1.28px;
        }
        .oauth-button-group {
            justify-content: center;
            text-align: center;
            ion-row {
                justify-content: space-between;
            }
            .facebook-btn,
            .linkedin-btn,
            .twitter-btn {
                color: white;
                text-transform: none;
                height: 8vh;
                border-radius: 1.2em;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
            }
            .facebook-btn {
                width: 100%;
                background: #4d6fa9;
            }
            .linkedin-btn {
                margin-right: 0;
                background: #0084b1;
                width: 47%;
            }
            .twitter-btn {
                margin-left: 0;
                background: #50abf1;
                width: 47%;
                justify-content: flex-end
            }
        }
    }
    ion-footer {
        font-size: 1em;
        opacity: 87%;
        color: #0f23d3;
        letter-spacing: 1.44px;
        text-align: center !important;
        margin-bottom: 1em;
    }
}