<div class="login-box">
    <ion-row>
        <ion-col width-100 class="sign-in-label">SIGN IN</ion-col>
    </ion-row>
    <form (ngSubmit)="login()" #registerForm="ngForm">
        <ion-row>
            <ion-col>
                <ion-list>

                    <ion-item>
                        <ion-input type="text" placeholder="EMAIL" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" placeholder="PASSWORD" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="forgot-pwd" type="button" clear round (click)="forgotPassword()">Forgot password?</button>
            </ion-col>
        </ion-row>
        <ion-row class="login-btn">

            <ion-col class="signup-col">
                <!-- <ion-button class="submit-btn" expand="full" size="large" shape="round">LOGIN</ion-button> -->
                <button ion-button class="submit-btn" full clear round type="submit" [disabled]="!registerForm.form.valid">Login</button>
            </ion-col>
        </ion-row>

    </form>
</div>
<div class="oauth-box">
    <ion-row>
        <ion-col full class="oauth-sign-in">OR SIGN IN USING</ion-col>
    </ion-row>
    <div class="oauth-button-group">
        <ion-row>
            <button ion-button icon-left clear (click)="signThrowFacebook()" class="facebook-btn">
        <ion-icon name="logo-facebook"></ion-icon>
        Facebook
      </button>
        </ion-row>
        <ion-row>
            <button ion-button icon-left clear (click)="signThrowLinkedIn()" class="linkedin-btn">
        <ion-icon name="logo-linkedin"></ion-icon>
        LinkedIn
      </button>
            <button ion-button icon-left clear (click)="signThrowTwitter()" class="twitter-btn">
        <ion-icon name="logo-twitter"></ion-icon>
        Twitter
      </button>
        </ion-row>
    </div>
</div>
<ion-footer class="hide-on-keyboard-open">
    <ion-col full class="register-btn" (click)="createAccount()">REGISTRATION</ion-col>
</ion-footer>