<ion-toolbar class="card-header">
    <ion-card class="custom-card">
        <ion-card-content>
          <ion-row>
            <!-- <ion-col width-15 class="credit">{{currency}}{{credit}}</ion-col> -->
            <ion-col width-15 class="credit">$10</ion-col>
            <ion-col width-25 class="balance-label">BALANCE</ion-col>
            <ion-col width-20 class="custom-ion-icon">
              <ion-icon name="annecto-app-icon"></ion-icon>
            </ion-col>
            <ion-col width-25 class="add-credit-label">ADD CREDIT</ion-col>
            <ion-col width-15 class="annecto-custom-add-circle">
              <ion-icon name="add-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card class="custom-card">
        <!-- <button (click)="addThousandContacts()">+ 1000 contacts</button> -->
        <ion-card-content>
          <ion-row>
            <ion-col width-45 >
              <ion-label no-margin class="follow-me-label">FOLLOW ME NUMBER</ion-label>
              <ion-label no-margin class="follow-me-value">followMe</ion-label>
            </ion-col>
            <ion-col width-10 class="annecto-custom-settings">
              <ion-icon name="settings-outline"></ion-icon>
            </ion-col>
            <ion-col width-45 >
              <ion-label no-margin class="diverted-to-label">DIVERTED TO</ion-label>
              <ion-label no-margin class="diverted-to-value">divertedTo</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
    </ion-card>
  </ion-toolbar>
  <ion-content class="home-page"  padding mode="md">
  <ion-card class="custom-card-list" >
    <ion-card-content>
      <!-- <ion-list *ngFor="let day of historyList" class="custom-list">
        <ion-list-header class="list-header">
          <ion-label>{{day.date | date}}</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let person of day.persons">
          <ion-avatar item-left>
            <img [src]=person.avatar onError="this.src='assets/icon/no-avatar@3x.png'">
            <ion-icon name="annecto-linked-user" *ngIf="person.linkedStatus" class="linked-user"></ion-icon>
          </ion-avatar>
          <ion-col class="person-info">
            <ion-row class="person-name">{{person.DETAIL}}</ion-row>
            <ion-row class="time-info">
              <ion-col>{{currency}} {{person.AMOUNT}}</ion-col>
              <ion-col>{{person.CALL_TIME}}</ion-col>
              <ion-col><ion-icon name="annecto-timer-icon"></ion-icon> {{person.DURATION}}</ion-col></ion-row>
          </ion-col>
          <ion-col class="person-call-icon"><ion-icon name="annecto-call-icon" (tap)="call(person)"></ion-icon></ion-col>
        </ion-item>
      </ion-list> -->
      <ion-list class="custom-list">
        <ion-list-header class="list-header">
          <ion-label>Today</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-avatar item-left>
            <img src="./avatar-finn.png" />
          </ion-avatar>
          <ion-col class="person-info">
            <ion-row class="person-name">Finn</ion-row>
            <ion-row class="time-info">
              <ion-col>£ 20</ion-col>
              <ion-col>11:45 PM</ion-col>
              <ion-col>
                <ion-icon name="time-outline"></ion-icon>0:45
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="person-call-icon"><ion-icon name="call-outline" (tap)="call(person)"></ion-icon></ion-col>
        </ion-item>
        <ion-item>
          <ion-avatar item-left>
            <img src="./avatar-finn.png" />
          </ion-avatar>
          <ion-col class="person-info">
            <ion-row class="person-name">Finn2</ion-row>
            <ion-row class="time-info">
              <ion-col>£ 20</ion-col>
              <ion-col>11:45 PM</ion-col>
              <ion-col>
                <ion-icon name="time-outline"></ion-icon>0:45
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="person-call-icon"><ion-icon name="call-outline" (tap)="call(person)"></ion-icon></ion-col>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <img src="./avatar-finn.png" />
          </ion-avatar>
          <ion-col class="person-info">
            <ion-row class="person-name">Finn3</ion-row>
            <ion-row class="time-info">
              <ion-col>£ 20</ion-col>
              <ion-col>11:45 PM</ion-col>
              <ion-col>
                <ion-icon name="time-outline"></ion-icon>0:45
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="person-call-icon"><ion-icon name="call-outline" (tap)="call(person)"></ion-icon></ion-col>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <img src="./avatar-finn.png" />
          </ion-avatar>
          <ion-col class="person-info">
            <ion-row class="person-name">Finn4</ion-row>
            <ion-row class="time-info">
              <ion-col>£ 20</ion-col>
              <ion-col>11:45 PM</ion-col>
              <ion-col>
                <ion-icon name="time-outline"></ion-icon>0:45
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="person-call-icon"><ion-icon name="call-outline" (tap)="call(person)"></ion-icon></ion-col>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <img src="./avatar-finn.png" />
          </ion-avatar>
          <ion-col class="person-info">
            <ion-row class="person-name">Finn4</ion-row>
            <ion-row class="time-info">
              <ion-col>£ 20</ion-col>
              <ion-col>11:45 PM</ion-col>
              <ion-col>
                <ion-icon name="time-outline"></ion-icon>0:45
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="person-call-icon"><ion-icon name="call-outline" (tap)="call(person)"></ion-icon></ion-col>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <img src="./avatar-finn.png" />
          </ion-avatar>
          <ion-col class="person-info">
            <ion-row class="person-name">Finn4</ion-row>
            <ion-row class="time-info">
              <ion-col>£ 20</ion-col>
              <ion-col>11:45 PM</ion-col>
              <ion-col>
                <ion-icon name="time-outline"></ion-icon>0:45
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="person-call-icon"><ion-icon name="call-outline" (tap)="call(person)"></ion-icon></ion-col>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
