.card-header {
	background: -webkit-linear-gradient(#0078ff, #0f23d3) !important;
	background: -moz-linear-gradient(#0078ff, #0f23d3) !important;
	background: -o-linear-gradient(#0078ff, #0f23d3) !important;
	background: linear-gradient(#0078ff, #0f23d3) !important;
}
.custom-card {
	height: 12%;
	border-radius: 9pt;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.24);
	ion-card-content {
		padding-top: 6px;
	}
	.balance-label, .add-credit-label, .follow-me-label, .diverted-to-label {
		font-size: 8.6pt;
		white-space: nowrap;
		letter-spacing: 0.34px;
		opacity: 0.38;
		align-self: center;
	}
	.custom-ion-icon, .annecto-custom-settings, .annecto-custom-add-circle {
		align-self: center;
		text-align: center;
		display: block;
		margin-top: 3pt;
		color: rgb(15, 34, 210);
		ion-icon{
			font-size:17.3pt;
		}
	}
	.annecto-custom-settings{
		color: black;
		opacity: 0.54;
	}
	.annecto-custom-add-circle {
		ion-icon{
			border: 1px solid rgb(15, 34, 210);
			border-radius: 5em;
			padding: 5px;
		}
		text-align: end;
	}
	.credit, .diverted-to-value, .follow-me-value{
		font-size: 11.4pt;
		white-space: nowrap;
		color: rgb(15, 34, 210);
		display: block;
		align-self: center;
	}
}
.toolbar-background, .toolbar-background-md, .toolbar-background-ios {
    border: none;
    background: rgba(255,255,255,0);
}
page-home{
	background: #ececec;
}
.home-page{

	border: solid 2vh white;
	// border-radius: 2vh;
	overflow: hidden;
	margin-top: 0 !important;
	padding: 0 !important;
	background: white;
	width: 100%;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.24);
	margin-left: 3%;
	height: 61vh;
	z-index: 10;
	margin-bottom: 4em !important;
	.scroll-content, ion-card, ion-card-content {
		background: white;
		margin-top: 3%;
		margin-bottom: 3% !important;
		border: none !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		ion-card, ion-card-content{
			margin-top: 0%;
			margin-bottom: 0% !important;
		}
	}

	.person-info {
		width: 100%;
		font-size: 10.7pt;
		display: inline-block;
	}
	.person-call-icon{
		display: inline-block;
		width: 10%;
		text-align: end;
		ion-icon{
			font-size: 25.3pt;
			color: rgb(15, 34, 210);
		}
	}
	.time-info {
		font-size: 14px;
		opacity: 0.38;
	}
	.person-name{
		opacity: 0.87;
		font-size: 14.3pt;
		padding-left: 5px;
	}
	.custom-list {
		background: white;
		ion-item {
			border-bottom: 1px solid rgba(0, 0, 0, 0.18);
		}
	}
	.list-header {
		padding: 0;
		margin: 0;
		letter-spacing: 1.3px;
		text-transform: uppercase;
		text-align: center;
		font-size: 8.6pt;
		border: none;
	}
	.linked-user {
		position: absolute;
		left: 15%;
		top: 20%;
	}
}
