<ion-tabs mode="ios">
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contacts">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="link">
      <ion-icon name="link"></ion-icon>
      <ion-label>Link</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dialer">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Dial</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
